<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="login.css" >
</head>
<body>

  <div class="nav-container">
    <!-- wrapper is to hold all the nav item-->
    <div class="wrap">
      <nav>
        <div class="logo">
          <a th:href="@{'/home'}"><img src="image/proseso.png" name="logo" alt="" width="auto" height="35px"></a>
        </div>
        <ul class="nav-item">

          <li class="nav-left">
            <a th:href="@{'/Service'}" id="Service" class="test">Services</a>
          </li>
          <li class="nav-left">
            <a href="#" id="Pricing" class="test">Pricing</a>
          </li>
          <li class="nav-left">
            <a href="#" id="Career" class="test">Career</a>
          </li>
          <li class="nav-left">
            <a href="#" id="More" class="test">More</a>
          </li>

          <li class="nav-left">
            <input type="search" name="" value="Search" id="search-input">
          </li>

          <li>
            <a href="#" id="Login">Login</a>
          </li>
          <li>
            <div id="round">
              <a th:href="@{'/Register'}" id="Register">Register</a>
            </div>
          </li>


        </ul>
      </nav>
    </div>
  </div>

  <div class="head-container">
    <div class="wrapper">
      <header>



      </header>



    </div>
  </div>

  <div class="bottom-container">
    <div class="wraps">
      <footer>
        <h4 id="about">About us</h4>
        <h4 id="product">Products</h4>
        <h4 id="service">Service</h4>
        <h4 id="contact">Contact</h4>

        <div class="abouts">
        <a href="about.html"><p>About</p></a>
          <p>Blog</p>
          <p>Career</p>
          <p>Milestone</p>
          <p>News</p>
        </div>
        <div class="products">
          <p>Business idea</p>
          <p>Financial class</p>
          <p>Leadership class</p>
          <p>Membership</p>
          <p>Traditional Craft</p>
        </div>
        <div class="services">
          <p>Advisor</p>
          <p>Crafter</p>
          <p>Designer</p>
          <p>Editor</p>
          <p>Manager</p>
          <p>Programmer</p>
          <p>Writer</p>
        </div>
        <div class="contacts">
          <a href="#"><img src="image/email.png" id="email" alt="" class="contact-img"></a>
          <a href="#"><img src="image/twitter.png" alt="" class="contact-img"></a>
          <a href="#"><img src="image/instagram.png" alt="" class="contact-img"></a>
        </div>


      </footer>
    </div>
  </div>



</body>
</html>
